<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Default title{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/css/uikit.min.css" />
    {% block css %}{% endblock %}

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit-icons.min.js"></script>
    {% block js %}{% endblock %}

</head>

<body>
    {% block navbar %}
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">
        <nav class="uk-navbar-container" style="position: relative; z-index: 980;">
            <div class="uk-container uk-container-expand">
                <div uk-navbar>
                    <div class="uk-navbar-left">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="{% url 'chatrooms:index' %}">LOGO</a></li>

                        </ul>

                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            {% if user.is_authenticated %}
                            <li>
                                <a href="#">
                                        <img src="{{user.icon_image.url}}" style="width: 50px; height: 50px; border-radius: 50%;" >
                                </a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active">{{user.username}}</li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="{% url 'accounts:profile_settings' pk=user.pk %}">Profile</a></li>
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
    </div>
    {% endblock %}
    {% block content %}{% endblock %}
</body>

</html>