{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" href="{% sass_src 'chatrooms/css/room_match.sass' %}">

{% endblock %}

{% block js %}
<!-- Vue.js 開発ver -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<!-- Vue.js 本番環境ver バージョンを指定する -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->

<!-- Axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
{% endblock %}


{% block content %}
<div class="uk-container uk-margin-large-top">
    <div class="uk-flex">
        <h1 class="uk-align-center">Game Meet</h1>
    </div>

    <div id="room-match" class="uk-margin-top" v-cloak>
        <div id="matching-btn-form" class="uk-margin">
            <div class="uk-flex uk-flex-center uk-height-xsmall">
                <div id="matching-message" class="uk-margin"> &nbsp; [[matchingMessageText]]</div>
            </div>

            <div class="uk-flex uk-flex-center uk-height-xsmall">

                <div id="matching-div" v-show="showMatching">
                    <button id="start-btn" class="matching-btn" :disabled="btnDisable" v-on:click="start">Start</button>
                </div>
                <div id="matching-div" v-show="showWaiting">
                    <span id="waiting-message" class=""> <button id="quit-btn" class="matching-btn"
                            v-on:click="quit">×</button> Waiting...</span>

                </div>

                <div id="confirm-div" v-show="showConfirm">
                    <button id="confirm-btn" class="matching-btn"
                        v-on:click="confirm(); clearDisplayTimer()">Confirm</button>
                    <button id="cancel-btn" class="matching-btn"
                        v-on:click="cancel(); clearDisplayTimer()">Cancel</button>
                    <div id="life-bar" class="uk-margin">
                        <div id="life-guage" :style="{width: lifeGuageWidth + '%'}"></div>
                        <div id="life-mark"></div>
                    </div>
                </div>

            </div>
        </div>

        <div id="topic-form" class="uk-margin">
            <div v-if="topic">
                <div class="uk-flex uk-flex-center uk-child-width-1-2@s uk-child-width-1-3@m">
                    <div class="uk-card uk-card-default topic-card selected-topic-card">
                        <div class="topic-body">
                            [[topic]]
                        </div>
                        <button id="cancel-topic" v-if="!isMatching" @click="topic=''" type="button"
                            uk-icon="icon: close"></button>
                    </div>
                </div>

            </div>
            <div v-else>
                <div class="uk-margin uk-flex uk-flex-center">
                    <div class="uk-inline uk-width-1-2">
                        <button class="uk-form-icon uk-form-icon-flip" @click="searchTopics" uk-icon="icon: search"
                            style="outline: none;"></button>
                        <input class="uk-input" v-model="searchText" @keydown.enter="searchTopics" type="text"
                            placeholder="Topic">
                    </div>
                </div>
                <div class="uk-margin" v-if="searchResult.length">
                    <div class="uk-margin">
                        <h3>
                            Search Result
                        </h3>
                    </div>
                    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>
                        <div v-for="(result, id) in searchResult">
                            <button class="uk-card uk-card-default topic-card" @click="setTopic(result)">
                                <div class="topic-body">
                                    [[result.name]]
                                </div>
                            </button>
                        </div>
                    </div>

                    <hr>
                </div>
                <div>
                    <div class="uk-margin">
                        <h3>
                            Topics
                        </h3>
                    </div>

                    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>
                        <div v-for="(result, id) in popularTopics">
                            <button class="uk-card uk-card-default topic-card" @click="setTopic(result)">
                                <div class="topic-body">
                                    [[result.name]]
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div id="number-form" class="uk-margin">
            <div class="uk-flex uk-flex-center">
                <div class="uk-width-small">
                    <select class="uk-select" v-model="number">
                        <option hidden value="0" selected style="text-align: center;">Number</option>
                        <option v-for="n of numberLimit" :key="n" :value="n" style="text-align: center;">[[n]]</option>
                    </select>

                </div>
            </div>
        </div> -->
    </div>

    <ul id="list-message"></ul>
</div>

{% csrf_token %}
<script type="text/javascript">
    const popularTopicsUrl = "{% url 'chatrooms:popular_topics' %}"
    const searchTopicsUrl = "{% url 'chatrooms:search_topics' %}"

    const registerUrl = "{% url 'chatrooms:register_matching' %}";
    const unregisterUrl = "{% url 'chatrooms:unregister_matching' %}";
    const getMatchRoomUrl = "{% url 'chatrooms:get_match_room' %}";
    const confirmUrl = "{% url 'chatrooms:confirm_matching' %}";
    const cancelUrl = "{% url 'chatrooms:cancel_confirm' %}";
    const isCompletedUrl = "{% url 'chatrooms:get_match_completed' %}";
</script>
<script type="text/javascript" src="{% static 'chatrooms/js/room_match.js' %}"></script>

{% endblock %}