{% extends 'base.html' %}
{% load static %}

{% block js %}
<!-- Vue.js 開発ver -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<!-- Vue.js 本番環境ver バージョンを指定する -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->

<!-- Axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
{% endblock %}


{% block content %}
<h1>My Chat</h1>

<div id="user-info">
    Username: {{ user.pk }}
</div>

<div id="app">
    <div id="matching-div" v-show="showMatching">
        <button id="start-button" v-on:click="start">Start</button>
        <button id="quit-button" v-on:click="quit">Quit</button>
    </div>
    <div id="confirm-div" v-show="showConfirm">
        <button id="confirm-button" v-on:click="confirm(); clearDisplayTimer()">Confirm</button>
        <button id="cancel-button" v-on:click="cancel(); clearDisplayTimer()">Cancel</button>
    </div>

</div>

<ul id="list-message"></ul>

{% csrf_token %}
<script type="text/javascript">
    const registerUrl = "{% url 'chatrooms:register_matching' %}";
    const unregisterUrl = "{% url 'chatrooms:unregister_matching' %}";
    const getMatchRoomUrl = "{% url 'chatrooms:get_match_room' %}";
    const confirmUrl = "{% url 'chatrooms:confirm_matching' %}";
    const cancelUrl= "{% url 'chatrooms:cancel_confirm' %}";
    const isCompletedUrl = "{% url 'chatrooms:get_match_completed' %}";
</script>
<script type="text/javascript" src="{% static 'chatrooms/js/room_match.js' %}"></script>

{% endblock %}