<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <h1>My Chat</h1>

    <div id="join-content">
        Username: {{ user.pk }}
    </div>

    <div id="" action="">
        <div id="matching-div">
            <button id="start-button">Start</button>
            <button id="quit-button">Quit</button>
        </div>
        <div id="confirm-div" hidden>
            <button id="confirm-button">Confirm</button>
            <button id="decline-button">Decline</button>
        </div>

    </div>

    <ul id="list-message"></ul>

    {% csrf_token %}
    <script type="text/javascript">

        let matchingDiv = $("#matching-div");
        let confirmDiv = $("#confirm-div");

        let timer = {
            matchingWaitTimerId: null,
            confirmDisplayTimerId: null,
            completeWaitTimerId: null,
        }

        let roomId;
        let isCompleted = false;



        // csrf_tokenの取得に使う
        // 引用： https://docs.djangoproject.com/en/3.1/ref/csrf/
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie("csrftoken");


        // 連想配列timerの中のすべてのタイマーを止める
        function clearAllTimer() {
            Object.keys(timer).map(key => clearInterval(timer[key]) || clearTimeout(timer[key]));
        }


        // マッチングを登録する
        function sendRegister(data) {
            return $.ajax({
                url: "{% url 'chatrooms:register_matching' %}",
                method: "POST",
                headers: { 'X-CSRFToken': csrftoken },
                data: JSON.stringify(data),
                contentType: "application/json",
            });
        }

        // マッチングをキャンセルする
        function sendUnregister() {
            return $.ajax({
                url: "{% url 'chatrooms:unregister_matching' %}",
                method: "POST",
                headers: { 'X-CSRFToken': csrftoken },
                data: JSON.stringify({}),
                contentType: "application/json",
            });
        }

        // マッチングをキャンセルして、表示も元に戻す
        function resetMatching() {
            confirmDiv.hide();
            matchingDiv.show();
            sendUnregister()
                .done((result) => {
                    console.log(result);
                    if (result.is_unregistered) {
                        // マッチングをやめる
                        clearAllTimer();
                    }

                })
                .fail((result) => {
                    console.error(result);
                })
        }

        // マッチングを待つ
        // interval毎にAPIをたたく
        function setMatchingWaitTimer(interval) {
            timer.matchingWaitTimerId = setInterval((function getRoomId() {
                $.ajax({
                    url: "{% url 'chatrooms:get_match_room' %}",
                    method: "GET",
                })
                    .done((result) => {
                        // マッチングした場合
                        if (result.room_id) {
                            roomId = result.room_id;
                            console.log(roomId);
                            clearInterval(timer.matchingWaitTimerId);

                            // 最長10秒間承認ボタンを表示
                            matchingDiv.hide();
                            confirmDiv.show();
                            timer.confirmDisplayTimerId = setTimeout(resetMatching, 10000);
                        }
                    })
                return getRoomId;
            }()), interval)
        }


        // マッチングを承認する
        function sendConfirm() {
            return $.ajax({
                url: "{% url 'chatrooms:confirm_matching' %}",
                method: "POST",
                headers: { 'X-CSRFToken': csrftoken },
                data: JSON.stringify({}),
                contentType: "application/json",
            });
        }

        // マッチング承認を取り消す
        function cancelConfirm() {
            clearTimeout(timer.confirmDisplayTimerId);
            return $.ajax({
                url: "{% url 'chatrooms:cancel_confirm' %}",
                method: "POST",
                headers: { 'X-CSRFToken': csrftoken },
                data: JSON.stringify({}),
                contentType: "application/json",
            });
        }

        // 他の人のマッチング承認を待つ
        function setCompleteWaitTimer(interval) {
            timer.completeWaitTimerId = setInterval((function getMatchCompleted() {
                $.ajax({
                    url: "{% url 'chatrooms:get_match_completed' %}",
                    method: "GET",
                    data: {
                        "room_id": roomId,
                    }
                })
                    .done((result) => {
                        // 誰かがキャンセルしたとき
                        if (result.is_cancelled) {
                            console.log("CANCELLED");
                            clearInterval(timer.completeWaitTimerId);

                            // 自分も承認をキャンセル
                            cancelConfirm()
                                .done((result) => {
                                    console.log(result);
                                    if (result.is_cancelled) {
                                        // 再びマッチング待ち
                                        setMatchingTimer(2000);
                                    }
                                })

                        }
                        // マッチング完了したとき
                        if (result.is_completed) {
                            isCompleted = result.is_completed;
                            clearInterval(timer.completeWaitTimerId);
                            console.log("COMPLETE!");

                            // ルームへ移動
                            location.href = "";
                        }
                    })
                return getMatchCompleted;
            }()), 1000);
        }


        // Startボタン押下
        $("#start-button").on("click", function () {

            // マッチングに登録
            sendRegister(
                {
                    "condition": {
                        "game_name": "Test game",
                        "number": 2
                    }
                })
                .done((result) => {
                    console.log(result);
                    if (!result.is_registered) {
                        return;
                    }

                    // マッチング待ち
                    // 2秒ごとにマッチングしてないか確認
                    setMatchingWaitTimer(2000);

                })
                .fail((result) => {
                    console.error(result);
                })
        });


        // Quitボタン押下
        $("#quit-button").on("click", function () {
            resetMatching();
        });

        // Confirmボタン押下
        $("#confirm-button").on("click", function () {
            sendConfirm()
                .done((result) => {
                    console.log(result);
                    if (!result.is_confirmed) {
                        console.log(result.message);
                        return;
                    }

                    // 承認待ち
                    // 1秒ごとにマッチング承認を確認
                    setCompleteWaitTimer(1000);

                })
                .fail((result) => {
                    console.error(result);
                })
        });

        // Declineボタン押下
        $("#decline-button").on("click", function () {
            resetMatching();
        });



    </script>
    <script>
        // let ws_scheme = window.location.protocol == "https:" ? "wss": "ws";
        // const socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/room-match/");

        // let room_id = "";

        // // Startボタン押下
        // $("#start-button").on("click", function(){
        //     socket.send(JSON.stringify(
        //         {
        //             "method": "start_wait",
        //             "condition": {
        //                 "game_name": "Test game",
        //                 "number": 2
        //             }
        //         }
        //     ));
        // });


        // // Getボタン押下
        // $("#get-button").on("click", function(){
        //     socket.send(JSON.stringify(
        //         {
        //             "method": "get_room",
        //         }
        //     ));
        // });

        // // Quitボタン押下
        // $("#quit-button").on("click", function(){
        //     socket.send(JSON.stringify(
        //         {
        //             "method": "quit_wait",
        //         }
        //     ));
        // });

        // // Statusボタン押下
        // $("#status-button").on("click", function(){
        //     socket.send(JSON.stringify(
        //         {
        //             "method": "status",
        //         }
        //     ))
        // });

        // // Confirmボタン押下
        // $("#confirm-button").on("click", function(){
        //     socket.send(JSON.stringify(
        //         {
        //             "method": "confirm_matching",
        //             "room_id": room_id,
        //         }
        //     ))
        //     room_id = ""
        // });

        // // メッセージ受信時の処理
        // socket.onmessage = function(event){
        //     let data = JSON.parse(event.data);
        //     console.log(data);
        //     // ルームIDを受け取ったらグローバル変数 room_id に保存
        //     if (data["room_id"]){
        //         room_id = data["room_id"];
        //     }

        //     if(data["message"] && data["message"] == "got matched!") {
        //         $("#confirm-button").show();
        //     }

        //     // マッチング完了の通知が来たら待機をやめる
        //     if (data["message"] && data["message"] == "matching complete!!") {
        //     }
        // }

        // // Websocketクローズ時の処理
        // socket.onclose = function(event){
        //     console.error("Unexpected: Socket closed");
        // }
    </script>

</body>

</html>