{% extends 'base.html' %}

{% block title %}Signup{% endblock %}
{% block content %}

<div class="container">
    <div id="sign-up-form-container">
        <form method="post">
            {% csrf_token %}
            <div id="non-field-errors">
                {{ form.non_field_errors }}
            </div>
            {% for field in form %}
            <div class="row">
                <div class="field">
                    {{ field.label }}
                </div>
                <div class="field">
                    {{ field }}
                </div>
                <div class="field">
                    <div class="field_help_text">{{ field.help_text }}</div>
                </div>
                <div class="field">
                    {% if field.errors %}
                    <div class="field_error_text">{{ field.errors }}</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            <div class="row">
                <div class=""><button type="submit" class="btn">Send</button></div>
            </div>
        </form>
    </div>
</div>

{% endblock %}